body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0F0F0; /* Cambio de color de fondo */
}


.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F0F0F0; /* Cambio de color de fondo */
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    color: #606060;
    position: relative;
}


.image-container {
    text-align: center;
    margin-bottom: 25px;
}
.image-container img {
    max-width: 70%;
    height: auto;
}


.contact-form {
    border: 2px solid #007bff; /* Agregamos el borde celeste */
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #F0F0F0;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"], input[type="email"], input[type="tel"] {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: none; 
    border-bottom: 1px solid #007bff; 
    background-color: transparent; 
    outline: none; 
}

textarea {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #007bff;
    border-radius: 10px;
    resize: vertical;
    background-color: #F0F0F0; 
    outline: none;

}
.boton{
    text-align: center;
}
.boton-centro {
    display: block;
    margin: 0 auto;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
}

.pie-pagina{
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    font-size: 12px;
    color: #606060;
}
.iconos {
    margin-top: 10px;
}
.iconos img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}
.copyright {
    margin-top: 10px;
    color: #606060;
}
@media screen and (max-width:767px) {
    body {
        background-color:  #F0F0F0;
    }

}

/* tablet */

@media screen and (min-width:768px) and (max-width:1023px) {
    body {
        background-color: #F0F0F0  ;
    }

}

/* pc */

@media screen and (min-width:1024px) {
    body {
        background-color: #F0F0F0;
    }

}