body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0F0F0; /* Cambio de color de fondo */
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F0F0F0; /* Cambio de color de fondo */
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    color: #606060;
    position: relative;
}
.title::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 25%; 
    border-bottom: 2px solid #606060; 
}

.image-container {
    text-align: center;
    margin-bottom: 25px;
    
}
.image-container img {
    max-width: 70%;
    height: auto;
}


.contact-form {
    border: 2px solid #007bff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #F0F0F0; /* Cambio de color de fondo */
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"], input[type="email"], input[type="tel"] {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #F0F0F0; /* Cambio de color de fondo */
}
textarea {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #007bff;
    border-radius: 10px;
    resize: vertical;
    background-color: #F0F0F0; /* Cambio de color de fondo */
}
.center-button {
    text-align: center;
}
.centered-button {
    display: block;
    margin: 0 auto;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    font-size: 12px;
    color: #606060;
}
.social-icons {
    margin-top: 10px;
}
.social-icons img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}
.copyright {
    margin-top: 10px;
    color: #606060;
}
@media screen and (max-width: 767px) {
  
    body {
        background-color: #F0F0F0;
    }
    .title::before {
        width: 44%; /* Ajusta el ancho para dispositivos móviles */
    }
    
}

